.underline-animate::after {
  border-bottom: solid 1px white !important;
}

.content .content-link {
  margin-top: 3vmax;
  position: relative;
}
.content-link .portfolio {
  position: relative;
  text-align: center;
}
.content-link .portfolio a {
  margin: auto;
  padding: 2vh 4vw;
  width: 20%;
  height: 10vh;
  align-items: center;
  background-color: rgb(200, 164, 126);
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  font-size: 1.25em;
}

.content-link .portfolio a:hover {
  background-color: rgba(200, 164, 126, 0.7);
  transition: background-color 0.2s linear;
}
